:root {
    --overlay: rgba(184, 193, 236, 0.5);
    --background: #16161a;
    --button: #7f5af0;
    --headline: #fffffe;
    --paragraph: #94a1b2;
    --buttonText: #fffffe;
    --stroke: black;
    --main: #fffffe;
    --highlight: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}


/* CSS Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100vh;
}

/* End of CSS Reset */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bottom / 100% url('https://i.ibb.co/jZ8Wj48/camera-selfie.jpg');
    height: 794px;
    background-size: cover;
    margin-top: 10px;
    max-width: 100%;
    flex: 1 0 calc(25% - 20px);
}

.image-gallery>h1 {
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 0 9px 4px var(--overlay);
}

.image-gallery>h2 {
    font-size: 8rem;
    text-align: center;
}

  .socials>h2 {
      text-align: center;
      font-size: 4rem;
      color: var(--background);
      background-color: var(--button);
      stroke: var(--stroke);
      border: 1px solid var(--tertiary);
      border-radius: .5rem;
  }

button {
    color: var(--buttonText);
    background-color: var(--button);
    border: 1px solid var(--tertiary);
    border-radius: 1rem;
    
    font-weight: bold;
    font-size: 2rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--paragraph);
    text-align: center;
}

h1 {
    font-size: 8rem;
    stroke: var(--stroke);
    stroke-width: 3px;
    color: var(--buttonText);
    text-shadow: 0 2px 4px var(--overlay);
    margin-top: 9rem;
}


.image-item {
    flex: 1 0 auto;
    align-self: stretch;
    width: 100%;
}

a {
    color: var(--tertiary);
    text-decoration: none;
}

button {
    color: var(--buttonText);
    background-color: var(--button);
    border: 1px solid var(--tertiary);
    border-radius: 0.5rem;
    width: 198px;
        height: 90px;
        font-size: 2rem;
}

a:hover {
    color: var(--highlight);
    text-decoration: underline;
}

button:hover {
    background-color: #2cb67d;
}

.socials {
    align-items: flex-start;
    margin: 30px;
}

.socials .svg-inline--fa {
    font-size: 10rem;
    padding: 7rem;
}

/* Medium devices (iPad and larger) */
@media only screen and (min-width: 768px) {
    #hero {
        margin-top: 10px;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: bottom / 100% url('https://i.ibb.co/jZ8Wj48/camera-selfie.jpg');
            height: 949px;
            background-size: cover;
            max-width: 100%;
            flex: 1 0 calc(25% - 20px);

                .svg-inline--fa {
                        font-size: 1.5rem;
                        padding: 1.5rem;
                      
                    }
    }

    .svg-inline--fa {
        font-size: 1.5rem;
        padding: .5rem;
    }

    .image-item {
        flex: 1 0 calc(25% - 20px);
        /* Flex: 1 0 calc(50% - 20px); is shorthand for flex-grow: 1, flex-shrink: 0, flex-basis: calc(50% - 20px);
        /* This allows the images to grow and shrink as needed. Adjust the percentage of the base size to get different numbers of elements across. */

    }

    .image-item>h2 {
        font-size: 3rem;
        color: var(--background);
        background-color: var(--button);
    }
     
}

/* Mobile landscape (phone landscape) */
@media only screen and (min-width: 600px) and (orientation: landscape) {
    .image-item {
        flex: 1 0 calc(25% - 20px);
        /* this will allow  images to grow and shrink as needed. Adjust % of the base size to get different numbers of pics across */
    }

    #hero {
        margin-top: 0;
    }


    h1 {
        font-size: 8rem;
        stroke: var(--stroke);
        stroke-width: 3px;
        color: var(--buttonText);
        text-shadow: 0 9px 4px var(--overlay);
    }

    .socials>h2 {
        text-align: center;
        font-size: 4rem;
        color: var(--background);
        background-color: var(--button);
        stroke: var(--stroke);
        border: 1px solid var(--tertiary);
        border-radius: .5rem;
    }

    .socials .svg-inline--fa {
        font-size: 5rem;
        padding: 7rem;
    }

    button {
        width: 198px;
        height: 90px;
        padding: 10px 20px;
        font-size: 3rem;
        font-weight: bold;
        border-radius: 1rem;
        color: var(--background);
    }

    .image-item>h2 {
        font-size: 3rem;
        color: var(--background);
        background-color: var(--button);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .image-item {
        flex: 1 0 calc(25% - 20px);
        /* Flex: 1 0 calc(50% - 20px); is shorthand for flex-grow: 1, flex-shrink: 0, flex-basis: calc(50% - 20px);
    /* This allows the images to grow and shrink as needed. Adjust the percentage of the base size to get different numbers of elements across. */

    }

    /* End of Mobile Landscape styles */
    body {
        font-family: 'Poppins', sans-serif;
        background-color: var(--background);
        margin-top: 0rem;
    }

    h1 {
        font-size: 8rem;
        stroke: var(--stroke);
        stroke-width: 3px;
        color: var(--buttonText);
        text-shadow: 0 9px 4px var(--overlay);
    }


    main>h1 {
        font-size: 4rem;
        text-align: center;
        text-shadow: 0 9px 4px var(--overlay);
    }

    .image-item h2 {
        text-align: center;
        color: var(--highlight);
        stroke: var(--stroke);
    }

    .image-gallery {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
        margin-bottom: 10px;
       

    }

    .image-item {
        flex: 1 0 calc(25% - 20px);
        /* this will allow  images to grow and shrink as needed. Adjust % of the base size to get different numbers of pics across */
        margin: 2px;
        max-width: 100%;
        height: auto;
        border: 1px solid var(--tertiary);
        border-radius: .5rem;
    }



    .image-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 10px;
        /* This will crop the image to fit the new size */
    }

    .image-item>h2 {
        font-size: 3rem;
        color: var(--background);
        background-color: var(--button);
        text-align: center;
    }

    .image-item {
        transition: transform 0.3s ease-in-out;
    }

    .image-item:hover {
        transform: scale(1.05);
    }


    i.fa-solid {
        font-size: 2rem;
    }

    .svg-inline--fa {
        zoom: 15;
        padding: .5rem;
    }

    .socials>h2 {
        text-align: center;
        font-size: 4rem;
        color: var(--background);
        background-color: var(--button);
        stroke: var(--stroke);
        border: 1px solid var(--tertiary);
        border-radius: .5rem;
    }


    a {
        color: var(--tertiary);
        text-decoration: none;
    }

    button {
        color: var(--buttonText);
        background-color: var(--button);
        border: 1px solid var(--tertiary);
        border-radius: 0.5rem;
    }

    a:hover {
        color: var(--highlight);
        text-decoration: underline;
    }

    button:hover {
        background-color: #2cb67d;
    }


    .image-item>h2 {
        font-size: 2rem;
    }

    .svg-inline--fa {
        zoom: 5;
        padding: .5rem;
    }
}
