:root {
  --overlay: rgba(184, 193, 236, 0.5);
  --background:#232946;
  --button: #ff8906;
  --headline: #fffffe;
  --paragraph: #b8c1ec;
  --buttonText: #232946;
  --stroke: #121629;
  --main: #b8c1ec;
  --highlight: #eebbc3;
  --secondary: #fffffe;
  --tertiary: #eebbc3;
  --shadow:#1ce766;
  --dropShadow: 0 0 0.5em var(--button);
  --radiusStyle1: 20px 20px 37px 37px / 23px 30px 0px 0px; 
  --buttonRadius: 1em 1em 1em 1em;
}

/* CSS Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100vh;
    
}

/* End of CSS Reset */

body{
    background-color: black;
    color: var(--main);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: auto;
}

.grid_container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 4fr)); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 1em;
    border: 1px solid var(--tertiary);
    border-radius: 1em;
    border-bottom: 1em;
    width: max-content;
    margin: auto;
}

.grid_container div{
    border: 1px solid var(--button);
    border-radius: var(--radiusStyle1);
    margin: 1em;
    background-color: var(--background);
    box-shadow: var(--dropShadow);
}

.grid_container.blackAndWhite{
    filter: grayscale(100%);
}
/* .blackAndWhite h2{
  text-align: center;
} */

 h1{
    text-align: center;
    color: var(--headline);
    font-size: 4em;
}

h2{
    text-align: center;
    color: var(--headline);
    background-color: var(--stroke);
    border: 1px solid var(--button);
    border-radius: .25em;
    margin: 0.25em;
    padding: 0.25em;
    font-size: 3em;
}

p{
    color: var(--paragraph);
    margin: 0.25em;
    font-size: 2em;
    text-align: left;
    line-height: 1.5em;
    margin: auto;
}

img{
    height: 11em;
    width: auto;
    border: 1px solid var(--button);
    border-radius: .25em;
    margin: 1em;
    box-shadow: var(--dropShadow);  
}

.grid-item{
    background-color: var(--background);
    border: 1px solid var(--button);
    border-radius: 1em;
    box-shadow: var(--dropShadow);
}

.grid_container h2{
    background-color: var(--stroke);
    color: var(--headline);
    font-size: 2em;
    margin: 0.25em;
    border-radius: var(--radiusStyle1);
}

.fa-solid{
    font-size: 2em;
    margin: 0.25em;
    pad: .5em;
}


#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: center / 100% url('https://i.ibb.co/DQKyCsm/f47dc6d6863881e1bf4d6e12822f1ded.jpg');
    /* height: 250px; */
    border: none;
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1em;
    margin: auto;
    height: 100%;
    width: auto
}

#hero h1{
    display: inline-block;
    color: var(--button);
    font-size: 4em;
    stroke: 2px var(--stroke);
    margin-top: 1em ;
    text-shadow: 2px 2px var(--stroke);
    text-align: center;
}

#hero h2{
    display: inline-block;
    color: var(--button);
    font-size: 1.5em;
    stroke: 2px var(--stroke);
    text-shadow: 2px 2px var(--stroke);
    border: none;
    background: none;
}

#hero fa-brands{
    font-size: 3.5em;
}


a:link {
    color: var(--main);
    text-decoration: none;
}

a:hover {
    color: var(--headline);
    
}

a:visited {
    color: var(--main);
}

figure button{
    border: 1px solid var(--headline);
    border-radius: 1em 1em 1em 1em;
    background-color: var(--button);
    color: var(--headline);
    padding: 0.5em;
    font-size: 1em;
}



/* .figCaption>a:link {
    font-size: .5em;
    text-align: center;
} */

@media screen and (max-width: 600px) {
    .grid_container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,1fr);
        margin-bottom: 1em;
    }

    img{
        height: 20em;
        width: auto;
        border: 1px solid var(--button);
        border-radius: .25em;
        margin: 1em;
    }
    
}

@media screen and (min-width: 768px) {
  p{
    font-size: 1em
  }

  .grid_container{
    width: 80vw;
  }
 
  figcaption{
    font-size: 0.75em;
  }
  
}




    
